@font-face {
   font-family: 'Decovar';
   src: local('Decovar'),
      url('/assets/fonts/DecovarAlpha-VF.ttf') format('truetype');
   font-display: swap;
}

@font-face {
   font-family: 'Amstelvar';
   src: local('Amstelvar'),
      url('/assets/fonts/Amstelvar-Roman[wdth,wght,opsz].ttf')
         format('truetype');
   font-display: swap;
}
